.logo{
    position: absolute;
    width: 150px;
    height: 150px;
    margin-right: 20px auto;
    display: block;
    padding: 25px;
}

.btn{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.Home button{
    height: 40px;
    width: 85px;
    margin-left: 20px;
    border: none;
    background-color: #07273b;
    color: white;
    font-size: large;
    font-weight: 600;
}

.SignUp{
    border-top-right-radius: 12px;
    border-bottom-left-radius: 12px;
}

.SignIn{
    border-top-left-radius: 12px;
    border-bottom-right-radius: 12px;
}